@import url(https://fonts.googleapis.com/css?family=Lora:400,700);

body {
    font-family: "Lora", san-serif;
    background-color: #E9EAEE;
}

header {
    background-image: url(../img/wood.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    padding-top: 20px;
}

h1 {
    font-size: 100px;
    color: #fff;
    text-align: center;
}

p {
    font-size: 30px;
}

label {
    font-size: 20px;
}

button {
    margin: 10px;
    float: right;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top-style: solid;
    border-top-width: 3px;
    border-top-color: #D87E28;
    background-color: #afb3c2;
    font-size: 12px;
    padding-top: 1em;
}